@import url('https://fonts.googleapis.com/css?family=Muli:400,400i,700&display=swap');

body {
    font-size: 14pt;
    font-family: 'Muli';
}

.main-sidebar {
    font-size: 20;
}
.box {
  margin-top: 20px;
}