@import url('https://fonts.googleapis.com/css?family=Muli:400,400i,700&display=swap');

body{
    font-size: 14px;
    font-family: 'Muli';
}

.main-sidebar {
    font-size: 24px;
}

.box {
  margin-top: 20px;
  margin-bottom: 30px;
}

.box-header h3.box-title {
   font-weight: bold;
   font-size: 30px;
}

.skin-blue .main-sidebar .sidebar .sidebar-menu a{
    font-size: 18px;
}